@{
  Layout = "_Layout";
}
<h1>Events</h1>
@if (Model.Count != 0)
{
    @foreach(var djevent in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-1 stretch">
                    <div class="time-block">
                        <h4>@djevent.GetStart().ToString("MMM")</h4>
                        <p>@djevent.GetStart().ToString("dd")</p>
                    </div>
                </div>
                <div class="col-sm-11">
                    <h4>@djevent.GetStart().ToString("h:mm tt") - @djevent.GetEnd().ToString("MMM dd h:mm tt")</h4>
                    <h4>@djevent.GetName()</h4>
                    <p>@djevent.GetVenueName() @djevent.GetVenueAddress()</p>
                </div>
            </div>
        </div>
    }

}
else
{
    <em>There are no upcoming events scheduled 😭 💸 💸 💸</em>
}

<br><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Event</button>
<br><a href="/">go home where you belong</a>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add an Event...</h4>
          </div>
          <div class="modal-body">
            <form action="/events/add" method="post">
                <div class="form-group">
                    <label for='event-name'>Event name:</label>
                    <input type="text" id="event-name" name="event-name" class="form-control">
                </div>
                <div class="form-group">
                    <label for='event-start'>Starts @@:</label>
                    <input type="datetime-local" id="event-start" name="event-start">
                    <label for='event-end'>Ends @@:</label>
                    <input type="datetime-local" id="event-end" name="event-end">
                </div>
                <div class="form-group">
                    <label for='venue-name'>Venue:</label>
                    <input type="text" id="venue-name" name="venue-name" class="form-control">
                </div>
                <div class="form-group">
                    <label for='venue-address'>Address:</label>
                    <input type="text" id="venue-address" name="venue-address" class="form-control">
                </div>
                <button type="submit" class="btn btn-info">Submit Event</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

  </div>
</div>
